.App {
  text-align: center;
}


.image {
  height: 3rem;
  width: auto;
  margin-right: 50px;
}

.formCountainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.savedMessage{
  color: red;
  font-style: italic;
  font-size: large;
  margin-top: 20px;
}

.list {
  width: 30% !important;
  background-color : 'blue';
}

.crewName{
  width: 30%;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding-top: 10px;

}

.memberTable{
  display: flex;
  flex-wrap: wrap;
  flex-direction: 'row';
  width: 100vw;
  justify-content: flex-start;
  padding-left: 90px;
  padding-right: 0px;
}